body {
  background: #ccc;
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.navbar {
  background: #fff;
  border-bottom: 2px solid #999;
  padding: 0.333em;
  position: relative;
  z-index: 10;
}

.logo {
  display: inline-block;
  font-weight: 900;
  font-size: 2em;
  margin-left: 0.41666em;
  margin-right: 0.83333em;
  vertical-align: middle;
}

#menu {
  display: inline-block;
  vertical-align: middle;
}

.button {
  background: #f26f53;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 300;
  outline: 0;
  padding: 0.5em 1.666em;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
}

#menu .button {
  /*background: #f74019;*/
  background: #f26f53;
  border-bottom: 2px solid hsl(11, 93%, 38%);
  color: #fff;
  padding: 0.5em 1.6666em;
}

#menu {
  display: inline-block;
}

.paper-ripple {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


